<!-- <button (click)="auth()">Authenticate</button>

<button (click)="addCalendar()">Add to My Calendar</button> -->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">TODO</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list class="navigation-list">
        <a
          class="navigation-item"
          mat-list-item
          routerLink="/todo/create"
          routerLinkActive="active"
        >
          <mat-icon class="material-icons">create</mat-icon
          ><span class="navigation-item-label">Add Task</span>
        </a>
        <a
          class="navigation-item"
          mat-list-item
          routerLink="/todo"
          routerLinkActive="active"
        >
          <mat-icon class="material-icons">preview</mat-icon
          ><span class="navigation-item-label">View Tasks</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content [style.marginLeft.px]="60">
      <router-outlet> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
