.container {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 2.5rem;
  #header {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }
  .card {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: flex-end;
    margin-bottom: 24px;
    box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f7f7f7;
    border-radius: 0.25rem;
  }
  .card-body {
    margin: 1.5rem;
    width: 100%;

    .table {
      width: 100%;

      button {
        float: right;
      }
    }
  }
}

.spinneralign {
  position: relative;
  z-index: 999;
  height: 100px;
  width: 100px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
